<p>
to-do works!
</p>
<div>
  <a (click)="addTodo()">Add To-Do</a>
</div>
<app-to-do-child *ngIf="showAddTodo" [buttonText]="buttonText" [title]="title" [description]="desc" (todo)="addNewTodo($event)" ></app-to-do-child>
<div *ngIf="todoList.length > 0">
  <table>
    <tr>
      <th>Title</th>
      <th>Description</th>
    </tr>
    <tr *ngFor="let todo of todoList">
      <td><a (click)="editTodo(todo.id)">{{todo.title}}</a></td>
      <td>{{todo.description}}</td>
    </tr>
  </table>
</div>